<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @update.date %>
</p>

<p>
  <b>Present:</b>
  <%= @update.present %>
</p>

<p>
  <b>Late:</b>
  <%= @update.late %>
</p>

<p>
  <b>Absent:</b>
  <%= @update.absent %>
</p>




<%= link_to 'Back', updates_path %>
