<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>



<h2>comments:</h2>

<div id="comments_add">
<%= link_to "Comments", post_comments_path(@post), :remote => true %> 
</div>


<br />

<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
